[AUTHOR]
# Autorenname, E-Mail und Plugin-Name bilden zusammen den MD5-Schluessel in
# der plugindatabase.json. Nach der ersten Veroeffentlichung NIE mehr aendern.
NAME=Weissware Plugin Authors
EMAIL=weissware@users.noreply.github.com

[PLUGIN]
VERSION=0.9.15
NAME=weissware
FOLDER=weissware
TITLE=Weissware Cloud

[AUTOUPDATE]
# Die Fassung bleibt bewusst in der Reihe 0.9.x: solange nichts an echten Konten
# und Geraeten erprobt ist, gibt es keine 1.0.0.
AUTOMATIC_UPDATES=true
RELEASECFG=https://raw.githubusercontent.com/timanders22/LoxBerry-Plugin-Weissware/master/release.cfg
PRERELEASECFG=https://raw.githubusercontent.com/timanders22/LoxBerry-Plugin-Weissware/master/prerelease.cfg

[SYSTEM]
INTERFACE=2.0
REBOOT=false
# Ab LoxBerry 3 ist das MQTT-Gateway Bestandteil des Systems.
LB_MINIMUM=3.0.0
LB_MAXIMUM=false
ARCHITECTURE=false
